#nd-sidebar > div:nth-child(2) button,
#nd-sidebar > div:nth-child(2) > div > div > a {
	font-weight: 600;
}

#nd-sidebar > div:nth-child(2) a {
	padding-top: calc(var(--spacing) * 1.3);
	padding-bottom: calc(var(--spacing) * 1.3);
}